name: SubConverter Auto Update

on:
  schedule:
    - cron: '0 * * * *' # Every hour
  workflow_dispatch: # Allow manual trigger

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 5 # Forced termination after 5 minutes

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable
      - name: Install chromedriver
        run: |
          seleniumbase install chromedriver

      - name: Run Update Script
        run: python scripts/main.py

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v7
